@import "../../App.scss";

.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 0.5rem;
  @media screen and (max-width: 700px) {
    flex-direction: column;
  }
}

.card {
  background-color: $blue;
  width: 32%;
  color: $white;
  border-radius: 0.5rem;
  padding: 0.9rem;
  .mid-text {
    padding-bottom: 0.4rem;
    p {
      font-weight: bolder;
    }
  }
  small {
    font-size: 0.8em;
  }
  @media screen and (max-width: 700px) {
    flex: 1;
    width: 100%;
    margin-bottom: 1rem;
  }
}
