$blue: blue;
$white: white;
$grey: #f9f9f9;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: $blue;
}

.logo-wrapper {
  margin: auto;
}
.logo {
  font-weight: bolder;
  width: 100%;
}

// Sidebard toggler
#toggler {
  color: red;
  display: none;
  user-select: none;
}
// #toggler:checked ~ span,
#toggler:checked ~ #sidebar {
  display: block;
  position: fixed;
  background: blanchedalmond;
  top: 0;
  left: 0;
}

.hamburger {
  display: none;
  @media screen and (max-width: 700px) {
    display: flex;
    cursor: pointer;
    margin-right: 0.5rem;
  }
}

// ::-webkit-meter-even-less-good-value
// /wrapper for sidebar and main-board
.main-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1.7rem;
  background-color: white;
}

// Navbar
.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.navbar-user-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .username {
    @media screen and (max-width: 700px) {
      font-size: 0.6rem;
    }
  }
}
.search-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @media screen and (max-width: 700px) {
    display: none;
  }
}
.search-box {
  outline: 0;
  color: #ddd;
  border: 0;
}
.navbar-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  & span {
    padding: 0rem 0.4rem;
  }
  @media screen and (max-width: 700px) {
    display: none;
  }
}

.main-board {
  width: 80%;
  @media screen and (max-width: 700px) {
    width: 100%;
  }
}
.main-dash {
  padding: 2rem;
  width: 100%;
  background-color: rgb(211, 201, 201);
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 0.5rem;
  @media screen and (max-width: 700px) {
    flex-direction: column;
  }
}

.card {
  background-color: $blue;
  width: 32%;
  color: $white;
  border-radius: 0.5rem;
  padding: 0.9rem;
  .mid-text {
    padding-bottom: 0.4rem;
    p {
      font-weight: bolder;
    }
  }
  small {
    font-size: 0.8em;
  }
  @media screen and (max-width: 700px) {
    flex: 1;
    width: 100%;
    margin-bottom: 1rem;
  }
}

// table
.table-wrapper {
  margin: 1rem 0;
  background-color: white;
  padding: 1.2rem;
  border-radius: 1rem;
}
.table-title {
  margin-bottom: 0.6rem;
  font-weight: bolder;
}

.table,
tbody,
thead {
  width: 100%;
  font-size: 0.7rem;
}
th,
td {
  padding: 0.5rem 0.8px;
  text-align: left;
}
.table-btn {
  background-color: $blue;
  color: white;
  padding: 0.2rem 0.4rem;
  font-size: 0.6rem;
  border: none;
  &.warn {
    background-color: green;
  }
}
