$blue: blue;
$white: white;
$grey: #f9f9f9;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: $blue;
}

.logo-wrapper {
  margin: auto;
}
.logo {
  font-weight: bolder;
  width: 100%;
}

// Sidebard toggler
#toggler {
  color: red;
  display: none;
  user-select: none;
}
// #toggler:checked ~ span,
#toggler:checked ~ #sidebar {
  display: block;
  position: fixed;
  background: blanchedalmond;
  top: 0;
  left: 0;
}

.hamburger {
  display: none;
  @media screen and (max-width: 700px) {
    display: flex;
    cursor: pointer;
    margin-right: 0.5rem;
  }
}

// ::-webkit-meter-even-less-good-value
// /wrapper for sidebar and main-board
.main-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1.7rem;
  background-color: white;
}

.main-board {
  width: 80%;
  @media screen and (max-width: 700px) {
    width: 100%;
  }
}
.main-dash {
  padding: 2rem;
  width: 100%;
  background-color: rgb(211, 201, 201);
}
